@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */

ul{list-style-type: none;}

a{text-decoration: none;}

.container{font-family: sans-serif;}

.wrapper{
max-width: 1154px;
width: 90%;
margin: 0 auto;
}

header{
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);

}

header nav {
  width: 85%;
  display: inline-block;}

header nav ul li{
  margin-right: 3%;
  display: inline-block;
}

nav ul{
  margin-top: 60px;
}

nav ul li a{
  padding: 10px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

nav ul li:nth-child(n+1):nth-child(-n+4) a{
  font-weight: 900;
}

nav ul li:nth-child(5):before{
content: "\f002";
margin-right: 5px;
color: #fff;
font-family: "Font Awesome 5 Free";
font-weight: 700;
}

nav ul li:nth-child(6):before{
content: "\f0ac";
margin-right: 5px;
color: #fff;
font-family: "Font Awesome 5 Free";
font-weight: 700;
}

nav ul li:nth-child(7):before{
content: "\f02e";
margin-right: 5px;
color: #fff;
font-family: "Font Awesome 5 Free";
font-weight: 700;
}

nav ul li:nth-child(7):after{
content: "0";
padding: 5px;
margin-left: 5px;
border-radius: 3px;
background-color: #ff632e;
color: #fff;
font-family: "Font Awesome 5 Free";
font-weight: 700;
}

header h1{
  width: 160px;
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
}

header h1 a{
  width: 100%;
  text-indent: 0;
}

header h1 a img{
  width: 100%;
  float: right;
  margin-right: 0;
}

nav ul li:hover a{
  background-color: #ff632e;
}


.banner {background-image:url(" https://via.placeholder.com/1286x601");}

.dakars{
  padding-top:  193px;
  padding-bottom:  191px;
  text-align: center;
}

.dakars h2{
  color: #fff;
font-size: 20px ;
text-transform: uppercase;
}

.dakars span{
  margin-bottom: 45px;
  display: block;
  color: #fff;
  font-size: 60px ;
  text-transform: uppercase;
}

.dakars a{
  padding: 35px 33px;
  margin-right: 30px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.dakars a:last-child:after{
content: "\f061";
padding-left: 10px;
font-family: "Font Awesome 5 Free";
font-weight: 900;
}

.dakars a:hover{
  background-color: #ff632e;
  color: #fff;
}

.featured {
  position: relative;
  top: -100px;
}

.featured ul li{
  width: 33%;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
}

.featured ul li img{
  width: 100%;
}

.featured .wrapper > a{
  position: absolute;
  top: 235px;
  text-indent: -9999px;
}

.featured .wrapper > a:before{
  content: "\f104";
  float: left;
  color: #ff632e;
  font-size: 100px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
}

.featured .wrapper .next{
  text-indent: -9999px;
 position: absolute;
  top: 235px; 
  right:100px;
} 

.featured a:hover{
color: #fff;
}

.featured .wrapper .next:before{
  content: "\f105";
  float: right;
  color: #ff632e;
  font-size: 100px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;

}


.featured .wrapper .featured-img{
    padding-top: 44px;
  padding-left: 34px;
  position: absolute;
  top: 0;

}

.featured ul li span{
  display: block;
  color: white;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;

}

.featured ul li a{
  padding-top: 15px;
  vertical-align: top;
  color: #ff632e;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.featured ul li a:before{
  content: "\f101";
  margin-right: 10px;
  font-size: 22px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
} 

section{text-align: center;}

section h2{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

}

section span{
  display: block;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
}

section .wrapper  .link{
  display: block;
  color: #ff632e;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}

section .wrapper .link:before{
  content: "\f101";
  margin-right: 5px;
  font-size: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

section .wrapper .link:hover{  color: #000;}

section .bike{
  position: relative;
  top: -65px;
  left: 10px;
}

section .explore{
  padding: 32px 34px;
  border: 2px solid;
  margin: 0 auto;
  display: inline-block;
  color: #000;
  font-size: 13px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

section .explore:hover{
  background-color: #ff632e;
  color: #fff;
}